<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idba.icore">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true">
        <service
            android:name=".router.WideRouterConnectService"
            android:enabled="true"
            android:exported="false"
            android:process=":icore" />
    </application>

</manifest>